modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      method: GET
      follow_redirects: true
      preferred_ip_protocol: ip4

  tcp_connect:
    prober: tcp
    timeout: 5s
    tcp:
      preferred_ip_protocol: ip4

  dns_udp:
    prober: dns
    timeout: 5s
    dns:
      query_name: example.com
      query_type: A
      transport_protocol: udp
      preferred_ip_protocol: ip4

  dns_tcp:
    prober: dns
    timeout: 5s
    dns:
      query_name: example.com
      query_type: A
      transport_protocol: tcp
      preferred_ip_protocol: ip4
